<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js - Primeiro Exemplo</title>
</head>
<body>
    
    <div id="start">
      <h1> {{message}} </h1> 
    </div>
    <script src="vue.js"></script>

    <script>
      let app = new Vue ({
            el: '#start',
            data:{
                message: 'Hello World. Estou usando Vue!'
            }
        })
    </script>
</body>
</html>